@font-face {
    font-family: 'Raleway regular';
    src: url("../../../fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: 'Raleway medium';
    src: url("../../../fonts/Raleway-Medium.ttf");
}
@font-face {
    font-family: 'Raleway bold';
    src: url("../../../fonts/Raleway-Bold.ttf");
}
@font-face {
    font-family: 'Raleway extrabold';
    src: url("../../../fonts/Raleway-ExtraBold.ttf");
}

p{margin: 0}


.v-header{
    height: 90px;
    width: 100%;
    background-color: #0051A7;
    display: flex;
    align-items: center;
}
.inner-header{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.main-area{
   width: 1200px;
   margin: auto;
   min-height: calc(100vh - 360px);
   margin-bottom: 20px;
}
.table{
    margin-bottom: 0;
}

/* кнопки */
.request-nav{
    margin: 20px 0 0 0;
    width: 100%;
    height: 48px;
    display: flex;
}

.request-nav-button{
    width: 25%;
    border: 0;
    color: white;
    transition: 0.5s;
    font-size: 1.25rem;
    font-family: "Raleway bold";
}
.request-nav-button-dis{
    background: #2381e6;
}

.request-nav-button-active{
    background: #0061C7;
}

.request-nav-button:hover{
    background: #0061C7;
    transition: 0.5s;
}

/* Сортировки */

.request-sorts{
    padding: 10px 20px;
    background-color: #EAF4FF;
    margin: 10px 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.request-sorts-title{
    color: #081800;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    margin: 0 0 2px 0;
    font-family: "Raleway bold";
}

.request-sorts-keeper{
    margin: 0 0 0 20px;
}

.request-sorts-button{
    width: 160px;
    height: 40px;
    border: 0;
    background: #081800;
    box-shadow: 4px 4px 0px 0px #007CFF;
    color: white;
    font-family: "Raleway bold";
    line-height: 130%;
    font-size: 15px;
}

.request-sorts-button:hover{
    color:#007CFF;
}

/* Table */

/* Строки */
.table-row{
    display: flex;
}

/* Ячейки */
.table-cell{
    padding: 4px;
    margin: 0;
    height: 120px;
}

/* кнопки */
.td-button{
    border: 0;
    color: white;
    width: 100%;
}
.read-button{
    background: #2381e6;
    padding: 5px;
    font-family: "Raleway medium";
}
.read-button:hover, .read-button:active, .read-button:focus{
    font-weight: 800;
}
.delete-button{
    background: #2381e6;
    padding: 5px;
    font-family: "Raleway medium";
}
.delete-button:hover, .delete-button:active, .read-button:focus{
    font-weight: 800;
}

.table-cell{
    font-family: "Raleway regular";
    font-size: 15px;
    line-height: 130%;
}
/* размер стобцов */
.request-cell:nth-child(1){
    width: 40px;
    display: flex;
    justify-content: center;
}
.request-cell:nth-child(2){
    width: 140px;
}
.request-cell:nth-child(3){
    width: 180px;
}
.request-cell:nth-child(4){
    width: 120px;
}
.request-cell:nth-child(5){
    width: 360px;
}
.request-cell:nth-child(6){
    width: 180px;
    display: flex;
    justify-content: center;
}
.request-cell:nth-child(7){
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* раскрас заголовка */
.table-header .table-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    font-family: "Raleway medium";
}
.table-header .table-cell:nth-child(odd){
    background-color: #0061C7;
}
.table-header .table-cell:nth-child(even){
    background-color: #2381e6;
}

/* Раскрас строчек */
.table-row:nth-child(odd){
    background-color: #EAF4FF;
}
.table-row:nth-child(even){
    background-color: #C1DFFF;
}

/* Карточка заявки */

.req-card{
    width: 1200px;
    margin: 10px 0 0 0;
}

/* Заголовок картоки - номер и дата*/
.req-card-header{
    background-color: #EAF4FF;
    display: flex;
    height: 40px;
    justify-content: space-between;
}
.req-card-header-data{
    display: flex;
    align-items: center;
}
.req-card-title{
    margin: 0 0 0 20px;
    color: #0061C7;
    font-size: 1.25rem;
    font-style: normal;
    font-family: "Raleway extrabold";
    line-height: 130%;
}
.req-card-date{
    margin: 0 0 0 20px;
    color: #0061C7;
    font-size: 1.25rem;
    font-style: normal;
    font-family: "Raleway medium";
    line-height: 130%;
}
.req-card-close{
    background-color:#EAF4FF;
    color: #007CFF;
    font-weight: 600;
    border: 0;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
}

/* Сообщение гостя */

.req-card-guest{
    margin: 10px 0 0 0;
    height: 160px;
    background-color: #EAF4FF;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0 20px;
}
.req-guest-data{
    display: flex;
}
.req-guest-name, .req-guest-phone{
    color: #081800;
    font-size: 18px;
    font-family: "Raleway bold";
    font-style: normal;
    line-height: 130%;
}
.req-guest-phone{
    margin: 0 0 0 20px;
}
.req-guest-comment{
    margin: 20px 0;
    padding: 0 8px;
    font-size: 18px;
    font-family: "Raleway medium";
    background-color: white;
    height: 80px;
}

/* Форма комментирования заявки */

.req-card-form{
    padding: 10px 20px 0 20px;
    margin: 10px 0 0 0;
    height: 230px;
    background-color: #EAF4FF;
    display: flex;
    flex-direction: column;
}

/* SELECT */

.req-form-selects{
    display: flex;
    margin: 0 0 10px 0;
}

/* STATUS */

.req-form-status label, .req-form-assistance label, .req-form-comment label {
    color: #081800;
    font-size: 18px;
    font-style: normal;
    font-family: "Raleway bold";
    line-height: 130%;
}
.req-form-comment label {
    margin: 0 0 10px 0;
}
.req-form-assistance{
    margin: 0 0 0 10px;
}
select {
    margin: 0 0 0 10px;
    width: 200px;
    height: 30px;
    border-radius: 0;
    background: #ffffff;
    color:  #0061C7;
    font-family: "Raleway medium";
    font-size: 18px;
    border: 1px solid #87B5E5;;
}
select:focus {
    outline: 0;
}
.req-form-comment{
    display: flex;
    flex-direction: column;
}
.req-form-comment textarea{
    height: 80px;
    resize: none;
    border: 1px solid #87B5E5;;
    background: #ffffff;
    padding: 0 8px;
}
.req-form-comment textarea:focus{
    outline: 0;
}
.req-form-submit{
    background: #2381e6;
    color: white;
    padding: 5px;
    font-family: "Raleway medium";
    margin: 10px auto 0 auto;
    width: 240px;
    border: 0;
}
.req-form-submit:hover{
    font-weight: 800;
}
/* Комментарии */
.req-comments-header{
    background-color: #EAF4FF;
    display: flex;
    height: 40px;
    align-items: center;
}
.req-comments-title{
    margin: 0 0 0 20px;
    color: #0061C7;
    font-size: 18px;
    font-style: normal;
    line-height: 130%;
    font-family: "Raleway extrabold";
}
.req-comments{
    margin: 10px 0;
}

/* КОММЕНТАРИЙ */

.req-comment{
    margin: 10px 0 0 0;
    height: 160px;
    background-color: #EAF4FF;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0 20px;   
}
.req-comment-data{
    display: flex;
    flex-direction: row;
}
.req-comment-name, .req-comment-date{
    color: #081800;
    font-size: 18px;
    font-style: normal;
    font-family: "Raleway bold";
    line-height: 140%;
}
.req-comment-date{
    margin: 0 0 0 20px;
    font-weight: 600;
}
.req-guest-phone{
    margin: 0 0 0 20px;
}
.req-comment-comment{
    margin: 20px 0;
    padding: 0 8px;
    font-size: 15px;
    font-family: "Raleway medium";
    background-color: white;
    height: 80px;
}


/* ИНФО */

.req-info-selects{
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    margin: 10px 0 0 0;
    height: 50px;
    background-color: #EAF4FF;
}
.req-info{
    display: flex;
    margin: 0 0 0 20px;
}
.req-info-value{
    margin: 0 0 0 10px;
    width: 200px;
    height: 30px;
    background: white;
    color:  #0061C7;
    font-family: "Raleway medium";
    font-size: 18px;
    padding: 0 4px;
}
.req-info-title{
    color: #081800;
    font-size: 18px;
    font-style: normal;
    font-family: "Raleway bold";
    line-height: 140%;
}

/* Если нет заявое */

.no-requests{
    background-color: #EAF4FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 10px 0 0 0;
    padding: 0 20px;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-family: "Raleway extrabold";
    font-weight: 800;
    line-height: 140%;
}